/* html {
    height: 100%;
} */

body {
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

body {
    font-family: Roboto, sans-serif;
    /* margin: 0;
    height: 100%;
    display: grid; */
}


header {
    border: 1px solid grey;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 80px;
    width: 100%;
}

section {
    margin-top: 90px;
}

input {
    border-radius: 8px;
    border: 1px solid grey;
    outline: 0;
}

li {
    list-style: none;
}
.sign-in-button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 7px 13px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid rgb(6, 207, 157);
    outline: 0;
    width: 100%;
    color: black;
    background-color: rgb(6, 207, 157);
    font-weight: 600;
}

.sign-in-button:hover,
.sign-in-button:focus {
    cursor: pointer;
    color: white;
    background-color: rgb(2, 70, 53);
    border: 1px solid rgb(2, 70, 53);
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

img {
    display: block;
    margin: 0 auto;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

.header-name {
    font-size: 24px;
    color: rgb(27, 27, 27);
}

.user-box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    /* border: 1px solid grey; */
}

.label-username  {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.username-input {
    width: 100%;
    margin-top: 7px;
    padding: 7px 13px;
}

.footer {
    border: 1px solid grey;
    width: 100%;
    bottom: 0;
    /* flex: 0 0 80px; */
}

.footer-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 1000;
}

.footer-name {
    font-size: 18px;
}

/* SPECIFIC BOOK */
.specific-book-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    width: 380px;
    height: 60px;
}

.sign-out-button {
    display: block;
    margin-top: 11px;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgb(6, 207, 157);
    outline: 0;
    width: 90px;
    height: 40px;
    color: black;
    background-color: rgb(6, 207, 157);
    font-weight: 600;
}

.sign-out-button:hover,
.sign-out-button:focus {
    cursor: pointer;
    color: white;
    background-color: rgb(2, 70, 53);
    border: 1px solid rgb(2, 70, 53);
}

.username-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 120px;
}

.book-section {
    margin-top: 40px;
}
.main-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    /* border: 1px solid grey; */
}

.submain-box-left {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 500px;
    height: 500px;
    border: 1px dashed grey;
    padding: 15px;

}

.item-card {
    border: 1px solid grey;
}

.description-box {
    width: 350px;
}

.li-book-name {
    font-weight: 600;
}

.submain-box-right {
    padding: 15px;
    width: 300px;
    height: 200px;
    border: 1px dashed grey;

}

.item-card {
    /* height: 400px; */
}

.book-quantity-input {
    width: 50px;
    margin-left: 160px;
    padding: 2px 5px;
}

.add-button {
    display: block;
    margin-left: 170px;
    margin-top: 15px;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgb(6, 207, 157);
    outline: 0;
    width: 90px;
    height: 40px;
    color: black;
    background-color: rgb(6, 207, 157);
    font-weight: 600;
}

.add-button:hover,
.add-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(2, 70, 53);
    border: 1px solid rgb(2, 70, 53);
}
