// 320px +
@media screen and (min-width: 320px) {
    header {
        border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            padding-left: 40px;
            padding-right: 40px;
            min-height: 80px;
            width: 100%;
        }
    
        .specific-book-header {
            // display: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .box-container {
            // display: none;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .header-name {
            font-size: 18px;
            color: rgb(27, 27, 27);
            text-align: center;
        }
    
        .header-box {
            display: none;
            // display: flex;
            // justify-content: space-between;
            // align-items: normal;
            // width: 340px;
            // height: 60px;
        }
    
        .invert {
            filter: invert(1);
        }

        .header-box-mobile {
            width: 100%;
            height: 100%;
            padding: 10px;
        }

        .cart-box-mobile {
            width: 100%;
            margin-bottom: 15px;
        }

        .cart-link-mobile {
            display: flex;
            width: 100%;
            justify-content: start;
            align-items: center;
        }

        .cart-box-mobile img {
            display: inline-block;
            margin-left: 0;
            margin-right: 10px;
        }

        .mobile-paragraph {
            font-size: 24px;
            font-weight: 500;
            color: rgb(27, 27, 27);
            margin-top: 0;
            margin-bottom: 0;
        }
    
        .sign-out-button-mobile {
            display: block;
            padding: 2px 5px;
            font-size: 18px;
            border-radius: 8px;
            border: 1px solid rgb(6, 207, 157);
            outline: 0;
            width: 100%;
            height: 40px;
            color: black;
            background-color: rgb(6, 207, 157);
            font-weight: 600;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .sign-out-button:hover,
        .sign-out-button:focus {
            cursor: pointer;
            color: white;
            background-color: rgb(2, 70, 53);
            border: 1px solid rgb(2, 70, 53);
        }
    
        .username-box-mobile {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            margin-bottom: 15px;
        }

        .username-box-mobile img {
            display: inline-block;
            margin-left: 0;
            margin-right: 10px;
        }
    
        .user-flex-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 120px;
        }
    
        .user-flex p {
            font-size: 16px;
        }

    .mobile-menu-button {
            display: inline-flex;
            margin: 0;
            padding: 0;
            top: 10px;
            right: 15px;
            background-color: transparent;
            border: none;
            line-height: 0;
            cursor: pointer;
            transition: rotate 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                cursor: pointer;
                rotate: (90deg);
            }
        }
    
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            padding: 15px;
            z-index: 1000;
            background-color: white;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu.is-open {
            display: block;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    
        .mobile-menu__close-button {
            display: block;
            position: absolute;
            top: 15px;
            right: 0px;
            background-color: transparent;
            border: none;
            padding: 0;
            line-height: 0;
            cursor: pointer;
            transition: rotate 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu__close-button:hover,
        .mobile-menu__close-button:focus {
            cursor: pointer;
            rotate: (90deg);
        }
    
        .mobile-menu__container {
            position: relative;
            padding-top: 48px;
            padding-bottom: 48px;
        } 
}



// 480px
@media screen and (min-width: 480px) {
    header {
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            padding-left: 40px;
            padding-right: 40px;
            min-height: 80px;
            width: 100%;
        }
    
        .specific-book-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .box-container {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .header-name {
            font-size: 22px;
        }

        .cart-box-mobile {
            width: 7.5rem;
            margin: 0 auto;
            margin-bottom: 15px;
        }

        .username-box-mobile {
            width: 11.5rem;
            margin: 0 auto;
            margin-bottom: 15px;
        }

        .username-box-mobile a {
            width: 100%;
        }
    
        .sign-out-button-mobile {
            width: 15rem;
            margin: 0 auto;
        }
    
        .sign-out-button:hover,
        .sign-out-button:focus {
            cursor: pointer;
            color: white;
            background-color: rgb(2, 70, 53);
            border: 1px solid rgb(2, 70, 53);
        }
        
        .mobile-menu-button {
            display: inline-flex;
            margin: 0;
            padding: 0;
            top: 10px;
            right: 15px;
            background-color: transparent;
            border: none;
            line-height: 0;
            cursor: pointer;
            transition: rotate 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                cursor: pointer;
                rotate: (90deg);
            }
        }
    
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            padding: 15px;
            z-index: 1000;
            background-color: white;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu.is-open {
            display: block;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    
        .mobile-menu__close-button {
            display: block;
            position: absolute;
            top: 15px;
            right: 0px;
            background-color: transparent;
            border: none;
            padding: 0;
            line-height: 0;
            cursor: pointer;
            transition: rotate 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu__close-button:hover,
        .mobile-menu__close-button:focus {
            cursor: pointer;
            rotate: (90deg);
        }
    
        .mobile-menu__container {
            position: relative;
            padding-top: 48px;
            padding-bottom: 48px;
        }
}




// 768px + 
@media screen and (min-width: 768px) {
    header {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding-left: 40px;
        padding-right: 40px;
        min-height: 80px;
        width: 100%;
    }

    .specific-book-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .box-container {
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-name {
        font-size: 20px;
        color: rgb(27, 27, 27);
    }

    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        height: 60px;
    }

    .header-box img {
        width: 50px;
    }

    .invert {
        filter: invert(1);
    }

    .sign-out-button {
        display: block;
        // margin-top: 11px;
        // margin-left: 20px;
        padding: 2px 5px;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid rgb(6, 207, 157);
        outline: 0;
        width: 90px;
        height: 40px;
        color: black;
        background-color: rgb(6, 207, 157);
        font-weight: 600;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .sign-out-button:hover,
    .sign-out-button:focus {
        cursor: pointer;
        color: white;
        background-color: rgb(2, 70, 53);
        border: 1px solid rgb(2, 70, 53);
    }

    .username-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 145px;
        margin-left: -15px;
    }

    .username-box a {
        width: 100%;
    }


    .user-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .user-flex p {
        font-size: 16px;
    }

    .mobile-menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}




// 1024px +
@media screen and (min-width: 1024px) {
header {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding-left: 40px;
        padding-right: 40px;
        min-height: 80px;
        width: 100%;
    }

    .specific-book-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .box-container {
        width: 1300px;
        // margin-left: auto;
        // margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-name {
        font-size: 24px;
        color: rgb(27, 27, 27);
    }

    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        height: 60px;
    }

    .invert {
        filter: invert(1);
    }

    .sign-out-button {
        display: block;
        // margin-top: 11px;
        // margin-left: -35px;
        padding: 2px 5px;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid rgb(6, 207, 157);
        outline: 0;
        width: 90px;
        height: 40px;
        color: black;
        background-color: rgb(6, 207, 157);
        font-weight: 600;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .sign-out-button:hover,
    .sign-out-button:focus {
        cursor: pointer;
        color: white;
        background-color: rgb(2, 70, 53);
        border: 1px solid rgb(2, 70, 53);
    }

    .username-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 140px;
    }

    .user-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-flex p {
        font-size: 18px;
    }

    .box-mobile-menu {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }

    .mobile-menu-button {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }

    .burger-menu-icon {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }

    .mobile-menu {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }

    .mobile-menu__close-btn {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }
}





// header {
//     border-top: 1px solid grey;
//     border-bottom: 1px solid grey;
//     padding-left: 40px;
//     padding-right: 40px;
//     min-height: 80px;
//     width: 100%;
// }

// .specific-book-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .box-container {
//     width: 1300px;
//     margin-left: auto;
//     margin-right: auto;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .header-name {
//     font-size: 24px;
//     color: rgb(27, 27, 27);
// }

// .header-box {
//     display: flex;
//     justify-content: space-between;
//     align-items: normal;
//     width: 340px;
//     height: 60px;
// }

// .invert {
//     filter: invert(1);
// }

// .sign-out-button {
//     display: block;
//     margin-top: 11px;
//     margin-left: -35px;
//     padding: 2px 5px;
//     font-size: 14px;
//     border-radius: 8px;
//     border: 1px solid rgb(6, 207, 157);
//     outline: 0;
//     width: 90px;
//     height: 40px;
//     color: black;
//     background-color: rgb(6, 207, 157);
//     font-weight: 600;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .sign-out-button:hover,
// .sign-out-button:focus {
//     cursor: pointer;
//     color: white;
//     background-color: rgb(2, 70, 53);
//     border: 1px solid rgb(2, 70, 53);
// }

// .username-box {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     width: 100px;
// }

// .user-flex {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .user-flex p {
//     font-size: 16px;
// }

