// 320px +
@media screen and (min-width: 320px) {
    .section-vertical-align-box {
    position: normal;
    width: 275px;
    padding-left: 10px;
    padding-right: 10px;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

.user-box {
    width: 275px;
    height: 300px;
    margin: 0 auto;
    margin-top: 15px;
}

.user-box img {
    width: 130px;
}

.label-username {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.username-input {
    width: 100%;
    margin-top: 7px;
    padding: 7px 8px;
    color: grey;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid grey;
}

.sign-in-button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 7px 8px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgb(6, 207, 157);
    outline: 0;
    width: 100%;
    color: black;
    background-color: rgb(6, 207, 157);
    font-weight: 600;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-in-button:hover,
.sign-in-button:focus {
    cursor: pointer;
    color: white;
    background-color: rgb(2, 70, 53);
    border: 1px solid rgb(2, 70, 53);
}

.access-denied {
    border: 1px solid rgb(206, 2, 2);
}

.denied-notification {
    position: absolute;
    font-size: 14px;
    color: white;
    height: 40px;
    width: 275px;
    background-color: rgb(206, 2, 2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 74%;
    left: 71%;
    transform: translate(-74%, -71%);
}

.denied-notification-mobile {
    position: absolute;
    font-size: 16px;
    color: white;
    height: 40px;
    width: 271px;
    background-color: rgb(206, 2, 2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 54%;
    left: 53%;
    transform: translate(-54%, -53%);
}
}




// 480px +
@media screen and (min-width: 480px) {
    .section-vertical-align-box {
        position: absolute;
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .access-denied {
        border: 1px solid rgb(206, 2, 2);
    }

    .denied-notification {
        position: absolute;
        font-size: 14px;
        color: white;
        height: 50px;
        width: 200px;
        background-color: rgb(206, 2, 2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        left: 75%;
        transform: translate(-100%, -75%);
    }

    .denied-notification-mobile {
    position: absolute;
    font-size: 16px;
    color: white;
    height: 40px;
    width: 228px;
    background-color: rgb(206, 2, 2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 54%;
    left: 52%;
    transform: translate(-54%, -52%);
}
}




// 768px +
@media screen and (min-width: 768px) {
    .section-vertical-align-box {
        position: absolute;
        width: 700px;
        padding-left: 25px;
        padding-right: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .user-box {
        width: 275px;
        height: 300px;
        margin: 0 auto;
        margin-top: 5px;
    }

    .user-box img {
        width: 150px;
    }

    .label-username {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }

    .username-input {
        width: 100%;
        margin-top: 7px;
        padding: 7px 13px;
        color: grey;
        font-size: 16px;
        border-radius: 8px;
    }

    .sign-in-button {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        padding: 7px 13px;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid rgb(6, 207, 157);
        outline: 0;
        width: 100%;
        color: black;
        background-color: rgb(6, 207, 157);
        font-weight: 600;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .sign-in-button:hover,
    .sign-in-button:focus {
        cursor: pointer;
        color: white;
        background-color: rgb(2, 70, 53);
        border: 1px solid rgb(2, 70, 53);
    }

    .access-denied {
        border: 1px solid rgb(206, 2, 2);
    }

    .denied-notification {
        position: absolute;
        font-size: 16px;
        color: white;
        height: 50px;
        width: 200px;
        background-color: rgb(206, 2, 2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 74%;
        left: 21%;
        transform: translate(-74%, -21%);
    }
}





// 1024px +
@media screen and (min-width: 1024px) {
    .section-vertical-align-box {
            position: normal;
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
        }
    
        .user-box {
            width: 300px;
            height: 300px;
            margin: 0 auto;
        }
    
        .label-username {
            display: inline-block;
            width: 100%;
            text-align: center;
            font-weight: 600;
        }
    
        .username-input {
            width: 100%;
            margin-top: 7px;
            padding: 7px 13px;
            color: grey;
            font-size: 16px;
        }
    
        .sign-in-button {
            display: block;
            margin: 0 auto;
            margin-top: 15px;
            padding: 7px 13px;
            font-size: 18px;
            border-radius: 8px;
            border: 1px solid rgb(6, 207, 157);
            outline: 0;
            width: 100%;
            color: black;
            background-color: rgb(6, 207, 157);
            font-weight: 600;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .sign-in-button:hover,
        .sign-in-button:focus {
            cursor: pointer;
            color: white;
            background-color: rgb(2, 70, 53);
            border: 1px solid rgb(2, 70, 53);
        }

        .enable-link {
            pointer-events: none;
            cursor: auto;
        }

        .access-denied {
            border: 1px solid rgb(206, 2, 2);
        }

        .denied-notification {
            position: absolute;
            font-size: 16px;
            color: white;
            height: 50px;
            width: 200px;
            background-color: rgb(206, 2, 2);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 76%;
            left: 35%;
            transform: translate(-76%, -35%);
        }
}
